<form method="post" action="{{ path('comment_delete', {'id': comment.id, 'slug': post.slug}) }}" onsubmit="return confirm('Etes vous sure de vouloir supprimer ce commentaire?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ comment.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
