<footer class="text-muted">
    <div class="container-fluid text-center">
        <p class="float-right">
            <a class="btn btn-primary mt-5" href="#">Back to top</a>
        </p>
        <p>Blog développé avec Symfony et Bootstrap</p>
    </div>
</footer>