<form method="post" action="{{ path('post_delete', {'slug': post.slug}) }}" onsubmit="return confirm('Etes vous sure de vouloir supprimer ce post?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ post.id) }}">
    <button class="btn btn-danger">Suppression</button>
</form>
