{% extends 'base.html.twig' %}

{% block title %}Hello !{% endblock %}

{% block body %}
{% include 'header.html.twig' %}
{% include 'flash.html.twig' %}
<div class="container">
    <div class="row">
        <h1 class="text-center mt-5 mb-5">Votre recherche</h1>
        <div class="example-wrapper">
            {% for user in users %}
                <div class="mt-3 mb-3 p-3 bg-light border rounded">
                    <p>{{ user.nom|capitalize }} {{ user.prenom|capitalize }}</p>
                </div>
            {% endfor %}
            <a class="btn btn-primary" href="javascript:history.back()">Page précédente</a>
            <a class="btn btn-primary" href="{{ path('home') }}">Retour à la page d'accueil</a>
        </div>
    </div>
</div>

{% include 'footer.html.twig' %}
{% endblock %}