<form method="post" action="{{ path('user_accept', {'id': user.id}) }}" onsubmit="return confirm('Etes vous sure de vouloir ajouter cet utilisateur en tant qu\'admin? Voici son message de demande : {{ user.message }}');">
    <input type="hidden" name="_token" value="{{ csrf_token('admin' ~ user.id) }}">
    <button class="btn btn-primary">Demande d'admin</button>
</form>